.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  line-height: 4em;
  text-align: center;
  background-image: url("../assets/fondoReglas.jpg");
  background-size: cover;
  background-position: center;
}

.gameRules {
  margin-top: 0em;
}

.center-container {
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}
